<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口mapper.java全类名一致  
    id:必须与对应接口mapper.java的某个对应的方法名一致  
 --> 
<mapper namespace="com.zacamy.pwmana.mapper.user.UserMapper">
	
	<insert id="save" parameterType="User">
		insert into user(username,birthday,sex,address,password) values (#{username},#{birthday},#{sex},#{address},#{password}) 
	</insert>
	<update id="update" parameterType="User">
		update user set username=#{userName},birthday=#{birthday} ,sex=#{sex},address=#{address} ,password=#{password} where id=#{id}  
	</update>
	<delete id="delete" parameterType="int">
		delete from user where id=#{id}
	</delete>
	<select id="findAll" resultType="User">
		select id,username,birthday,sex,address,password from user
	</select>
	<select id="findById" parameterType="int" resultType="User">
		select id,username,birthday,sex,address,password from user where id=#{id}
	</select>
</mapper>
 